 @media (min-width: 300px) and (max-width: 575px) {
 #msg {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.box {
    width: 86px;
    height: 80px;
   
}
.but-con {
    height: 270px;
    
}
#new-btn {
    padding: 9px 15px;
    font-size: 16px;
}
.msg-container {
    height: 140px;
}
.containet {
    height: 305px;
}
}

 @media (min-width: 390px) and (max-width: 575px) {
 .but-con {
    width: 373px;
}
}

/*@media (min-width: 767px) and (max-width: 1400px) {
  #msg {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .msg-container {
    height: 150px;
  }

  .box {
    width: 18vh;
    height: 18vh;
    font-size: 30px;
  }
  .but-con {
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
  }
} */
